@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');


nav {
    background: #166FE5 !important;
    border-bottom: 3px solid #ABABAB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 4.44% !important;
    padding-right: 4.44% !important;
}

a{
    text-decoration: none !important;
    color: #000000 !important;
}

span {
    /* background-color: red; */
    /* width: 30px;a
    
    height: 35px; */
}

.text {
    display: inline-block;
    font-family: 'Denk One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color: #FFFFFF;
    text-decoration: none;
}

.text:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.btn_auth{
    position: relative;
}

.btn_auth>button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    border: 1.25px solid #000000 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_signIn a {
    background-color: transparent;
    color: #FFFFFF !important;
}

.user_icon, .signIn_icon {
    transform: translateY(20%);
    font-size: 1.3rem;
}

.btn_signUp {
    background: #FFFFFF !important;
    margin-left: 15px;
}

.btn_user{
    background: #FFFFFF !important;
}

.list{
    position: absolute;
    width: 150%;
    z-index: 1000;
    display: none;
    right: 0;
}

.btn_user:hover + .list{
    display: block;
}

.list_title{
    border-bottom: none !important;
    font-size: 17px;
    font-weight: 500;
    padding-left: 5% !important;
}

.list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    color: #000000;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.list-group-item:not(:last-child){
    border-bottom: none !important;
}

.list:hover{
    display: block;
}

.user_option_icon{
    transform: translate(-40%, 20%);
}

body {
  background-color: #F7F9FA;
  box-sizing: border-box;
}
main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: 'Roboto';
  font-style: normal;
}
.info {
  width: 90%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-family: 'Roboto';
  font-style: normal;
}
.info .info_check {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}
.info .info_check h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 41px;
  letter-spacing: 0.045em;
  color: #000000;
}
.info .info_check .form_wrapper {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-bottom: 35px;
  font-family: 'Roboto';
  font-style: normal;
}
.info .info_check .form_wrapper .info_name {
  display: flex;
  justify-content: space-between;
}
.info .info_check .form_wrapper .info_name .name_span {
  font-weight: 449;
  font-size: 21px;
  line-height: 33px;
  color: #000000;
  font-stretch: 100;
}
.info .info_check .form_wrapper .info_name .edit_span {
  font-weight: 449;
  font-size: 19px;
  line-height: 33px;
  font-stretch: 100;
}
.info .info_check .form_wrapper .info_name .edit_span a {
  text-decoration: none;
  color: #0194F3 !important;
}
.info .info_check .form_wrapper form {
  margin-top: 20px;
}
.info .info_check .form_wrapper form label {
  margin-bottom: 10px;
  font-weight: 449;
  font-size: 16.5px;
  line-height: 23px;
  font-stretch: 100;
}
.info .info_check .form_wrapper form .row + .row {
  margin-top: 19px;
}
.info .info_ticket {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.info .info_ticket .info {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  padding: 10px;
}
.info .info_ticket .info span {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.045em;
}
.info .info_ticket .info span ion-icon {
  transform: translateY(20%);
}
.info .info_ticket .info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.045em;
  margin: 10px 0;
}
.info .info_ticket .info .car_name {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.info .info_ticket .info .car_name img {
  width: 30px;
  height: 32px;
  margin-right: 15px;
}
.info .info_ticket .info .car_name span {
  font-weight: 500;
  font-size: 16.5px;
  letter-spacing: 0.045em;
  color: #000000;
}
.info .info_ticket .info .ticket_time {
  margin-top: 13px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info .info_ticket .info .ticket_time p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.045em;
}
.info .info_ticket .info .ticket_time .time_from {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info .info_ticket .info .ticket_time .where {
  font-weight: 500;
  background: rgba(217, 217, 217, 0.33);
  border-radius: 40px;
  transform: translateY(-10px);
}
.info .info_ticket .info .ticket_time .total_time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.info .info_ticket .info .ticket_time .total_time p {
  font-size: 14px;
}
.info .info_ticket .info .ticket_time .total_time .line {
  height: 0.5px;
  width: 90px;
  border: 1px solid #000000;
  transform: translateY(-15px);
}
.info .info_ticket .info .ticket_time .time_to {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info .info_ticket button {
  width: 50%;
}
.footer {
  background-color: #1b1b1b;
  height: 100px;
  margin-top: 30px;
  padding: 0 30px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer_link {
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.footer .footer_link ion-icon {
  color: #fff;
  width: 30px;
  height: 40px;
}
.footer .footer_copyright {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #1b1d1e;
}
