@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
    box-sizing: border-box;
    
}
a{
    text-decoration: none !important;
    color: #000000 !important;
}

nav {
    background: #166FE5 !important;
    border-bottom: 3px solid #ABABAB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 4.44% !important;
    padding-right: 4.44% !important;
}

span {
    /* background-color: red; */
    /* width: 30px;
    height: 35px; */
}

.text {
    display: inline-block;
    font-family: 'Denk One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color: #FFFFFF;
    text-decoration: none;
}

.text:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.btn_auth{
    position: relative;
}

.btn_auth>button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    border: 1.25px solid #000000 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_signIn {
    background-color: transparent;
    color: #FFFFFF !important;

}

.user_icon, .signIn_icon {
    transform: translateY(20%);
    font-size: 1.3rem;
}

.btn_signUp {
    background: #FFFFFF !important;
    margin-left: 15px;
}

.btn_user{
    background: #FFFFFF !important;
}

.form_search_wrapper {
    background-image: url(https://s3-alpha-sig.figma.com/img/3552/a98a/21bb46bff42a8953df3d279466f996f4?Expires=1670803200&Signature=TFPC6lGg55Y2WwNuQ1BI0-f0Lb4WbDYUL1nj-gYO6TVFY-R5rSrmKgDXD95izd-2EYrfEvJ8-0rz4r~Mef1Y2E1oGcAtE7pLZngA49pJclkOXEVbG1ePF3uaWi8zjoAgaQXK2znzsIX1euphGeXysDfhCASb4DPk9kKSEq060fd8rFqlUsOR9dUhs84H9-rE3Nw59vMcTuS0VsMd~jUbdFUa44QXOMJeqyra~QhKNN~we3poE5x8qwBaPeEplaYucEEabej8MnKhAylOhDJZX0ut0JhH0~Qr7tcZuJ0Bb7ynBb7IdevjlbR26CbIq3HQTLzohg7PC7oMAXN~B3CFsw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    height: 350px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    position: relative;
}

/* .form_search{
    position: absolute;

    min-width: 90%;
    height: 60vh;
    background: rgba(255, 255, 255, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.form_search {
    position: absolute;

    min-width: 90%;
    height: 60vh;
    background: rgba(255, 255, 255, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin: 40px 50px;
}

.form_title{
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

.form-group>.select_icon {
    /* transform: translate(-50%, 220%); */
    transform: translate(50%, -155%);
}

select {
    padding-left: 15% !important;
    /* width: 75% !important;
    min-width: 75%; */
}

.swap_icon {
    position: absolute;
    bottom: 53%;
    left: 22.75%;
    cursor: pointer;
}

label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    color: #166FE5;
}

.date{
    font-size: 1rem;
    height: 35px;
    width: 100%;
    padding-left: 15%;
    padding-right: 5%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.btn_find_wrapper{
    margin-top: 5% !important;;
}

.find_icon {
    transform: translateY(20%);
    font-size: 1.3rem;
}

.btn_search{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    border: 1.25px solid #000000 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_search a{
    color: #FFFFFF !important;
}

.list{
    position: absolute;
    width: 150%;
    z-index: 1000;
    display: none;
    right: 0;
}

.btn_user:hover + .list{
    display: block;
}

.list_title{
    border-bottom: none !important;
    font-size: 17px;
    font-weight: 500;
    padding-left: 5% !important;
}

.list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    color: #000000;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.list-group-item:not(:last-child){
    border-bottom: none !important;
}

.list:hover{
    display: block;
}

.user_option_icon{
    transform: translate(-40%, 20%);
}


