<nav class="navbar flex-row justify-content-between">
    <div class="nav_item d-flex flex-row align-items-center">
        <a class=" navbar-brand" href="#">
            <img src="img/bus.svg" width="55" height="45" class="d-inline-block align-center" alt="">
        </a>
        <a class="text">
            Vexere
        </a>
    </div>
    <div class="btn_auth">
        <button type="button" class="btn btn_signIn">
            <ion-icon class="signIn_icon" name="people-circle"></ion-icon>
            Đăng nhập
        </button>
        <button type="button" class="btn btn_signUp">Đăng ký</button>
        <button type="button" class="btn btn_user">
            <ion-icon class="user_icon" name="person-circle"></ion-icon>
            Nhất Duy
        </button>
        <div class="list">
            <ul class="list-group">
                <li class="list-group-item list_title">
                    Tài khoản
                </li>
                <li class="list-group-item">
                    <a href="../history/history.html">
                        <ion-icon class="user_option_icon" name="book" size="small"></ion-icon>Lịch sử đặt vé
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./home.html">
                        <ion-icon class="user_option_icon" name="log-out" size="small"></ion-icon>Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>