<nav class="navbar flex-row justify-content-between">
    <div class="nav_item d-flex flex-row align-items-center">
        <a class=" navbar-brand" href="./">
            <img src="/img/bus.svg" width="55" height="45" class="d-inline-block align-center" alt="">
        </a>
        <a class="text" href="/">
            Vexere
        </a>
    </div>
    <div class="btn_auth">


    </div>
</nav>