@font-face {
  font-family: 'Denk One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/denkone/v15/dg4m_pzhrqcFb2IzROtH.ttf) format('truetype');
}
@font-face {
  font-family: 'Denk One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/denkone/v15/dg4m_pzhrqcFb2IzROtH.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
body {
  background-color: #F7F9FA;
  box-sizing: border-box;
}
main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: 'Roboto';
  font-style: normal;
}
.admin_button {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.admin_button a {
  text-decoration: none;
  color: #000;
}
.admin_button button {
  border-radius: 3px;
}
.admin_button button + button {
  margin-left: 10px;
}
p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
table .id {
  max-width: 20px;
}
table .action {
  width: 30px;
}
table tbody .detail form {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 20px;
}
table tbody .detail form .btnSave {
  margin-top: 30px;
  border-radius: 3px;
}
table tbody .detail form input {
  max-width: 90vw;
}
table tbody .detail form label {
  margin-bottom: 10px;
  font-weight: 449;
  font-size: 16.5px;
  line-height: 23px;
  font-stretch: 100;
}
table tbody .detail form .row + .row {
  margin-top: 19px;
}
.form_wrapper {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 20px;
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-bottom: 35px;
}
.form_wrapper p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.form_wrapper form .btnAdd {
  margin-top: 30px;
  border-radius: 3px;
}
.form_wrapper form label {
  margin-bottom: 10px;
  font-weight: 449;
  font-size: 16.5px;
  line-height: 23px;
  font-stretch: 100;
}
.form_wrapper form .row + .row {
  margin-top: 30px;
}
