.footer {
    background-color: #1b1b1b;
    height: 75px;
    width: 100%;
    padding: 0 30px;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 200px;
    bottom: 0;
}

.footer .footer_link {
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.footer .footer_link ion-icon {
    color: #fff;
    width: 30px;
    height: 40px;
}

.footer .footer_copyright {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #1b1d1e;
}