<footer class="footer">
    <div class="footer_copyright">
        © 2022 Copyright: Group 1 - HCMUS - PTUDW
    </div>
    <div class="footer_link">
        <a href="">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="https://github.com/rayleigh420/PTUDW-20KTPM4-Nhom01-Web" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
        </a>
    </div>
</footer>