<div class="admin_button">
    <button type="button" class="btn-primary carOwner"><a href="/admin/adminCarOwner">CarOwner</a></button>
    <button type="button" class="btn-primary trip"><a href="/admin/adminTrip">Trip</a></button>
    <button type="button" class="btn-primary seat"><a href="/admin/adminSeat">Seat</a></button>
    <button type="button" class="btn-primary ticket"><a href="/admin/adminTicket">Ticket</a></button>
</div>