{{> header}}

<main>
    <div class="form_search_wrapper">
        <div class="form_search">
            <form id="form_find" action="list?from={from}&?to={to}&?date={date}" method="GET">
                <div class="form_title">
                    <p>
                        Nhập thông tin chuyến xe cần tìm
                    </p>
                </div>
                <div class="row form-row ">
                    <div class="form-group col-md-3">
                        <label for="from">Điểm đi</label>
                        <select name="from" class="form-control from" id="formPlace" required>
                            <option value="" onclick="getValue(e)" selected>Chọn điểm đi</option>
                            {{#each provinces}}
                            <option value={{province}} onclick="getValue(e)">{{provinceName}}</option>
                            {{/each}}
                        </select>
                        <ion-icon class="select_icon" name="location" size="small"></ion-icon>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="to">Điểm đến</label>
                        <select name="to" class="form-control to" id="toPlace" required>
                            <option value="" onclick="getValue(e)" selected>Chọn điểm đến</option>
                            {{#each provinces}}
                            <option value={{province}} onclick="getValue(e)">{{provinceName}}</option>
                            {{/each}}
                        </select>
                        <ion-icon class="select_icon" name="location" size="small"></ion-icon>
                        <!-- <ion-icon class="swap_icon" name="swap-horizontal-outline" size="large"></ion-icon> -->
                    </div>
                    <div class="form-group col-md-3 offset-md-1">
                        <label for="date">Ngày khởi hành</label>
                        <input type="date" id="date" name="date" class="date" required>
                        <ion-icon class="select_icon" name="today" size="small"></ion-icon>
                        <!-- <ion-icon name="people"></ion-icon> -->
                    </div>
                    <div class="form-group col-md-2">
                        <label for="amount">Ngày khởi hành</label>
                        <input type="text" id="amount" name="amount" class="form-control amount" value="1" required>
                        <ion-icon class="select_icon" name="person-add" size="small"></ion-icon>
                    </div>
                </div>
                <div class="row btn_find_wrapper">
                    <button type="submit" class="btn btn-primary btn_search col-md-2 offset-md-10">
                        <ion-icon class="find_icon" name="search"></ion-icon>
                        Tìm chuyến xe
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>

{{> footer}}