{{> header}}

<main>
    <div class="form_search_wrapper">
        <div class="form_search">
            <form>
                <div class="form_title">
                    <p>
                        Nhập thông tin chuyến xe cần tìm
                    </p>
                </div>
                <div class="row form-row ">
                    <div class="form-group col-md-3">
                        <label for="from">Điểm đi</label>
                        <select class="form-control" id="formPlace">
                            <option>TP. Hồ Chí Minh</option>
                            <option>2</option>
                        </select>
                        <ion-icon class="select_icon" name="location" size="small"></ion-icon>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="to">Điểm đến</label>
                        <select class="form-control" id="toPlace">
                            <option>Quảng Ngãi</option>
                            <option>2</option>
                        </select>
                        <ion-icon class="select_icon" name="location" size="small"></ion-icon>
                        <!-- <ion-icon class="swap_icon" name="swap-horizontal-outline" size="large"></ion-icon> -->
                    </div>
                    <div class="form-group col-md-3 offset-md-1">
                        <label for="amount">Số lượng hành khách</label>
                        <input type="date" id="date" name="date" class="date">
                        <ion-icon class="select_icon" name="today" size="small"></ion-icon>
                        <!-- <ion-icon name="people"></ion-icon> -->
                    </div>
                </div>
                <div class="row btn_find_wrapper">
                    <button type="button" class="btn btn-primary btn_search col-md-2 offset-md-10">
                        <a href="list">
                            <ion-icon class="find_icon" name="search"></ion-icon>
                            Tìm chuyến xe
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>