<main>
    <section class="container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
        <div class="row wrapper">
            <div class="col-md-6 col-xs-0 img_signIn">
                <!-- <img class="img_signIn" src="/Front_End/Assets/Image/1.png" alt="Vexere" /> -->
            </div>
            <div
                class="col-md-6 col-xs-12 d-flex flex-column justify-content-center align-items-center p-3 form_wrapper">
                <a href="./" class="name">Vexere</a>

                <form class="form_signIn d-flex flex-column justify-content-center" action="signUp" method="POST">
                    <div class="form-group">
                        <span class="icon_input">
                            <ion-icon name="person"></ion-icon>
                        </span>
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                    </div>

                    <div class="form-group">
                        <span class="icon_input">
                            <ion-icon name="mail"></ion-icon>
                        </span>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Email Address" name="email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small> -->
                    </div>

                    <div class="form-group">
                        <span class="icon_input">
                            <ion-icon name="lock-closed"></ion-icon>
                        </span>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            name="password">
                        <span class="eye">
                            <ion-icon name="eye" size="small"></ion-icon>
                        </span>
                    </div>

                    <div class="form-group">
                        <span class="icon_input">
                            <ion-icon name="lock-closed"></ion-icon>
                        </span>

                        <input type="password" class="form-control" id="rePassword" name="re_password"
                            placeholder="Re-enter your Password">
                        <span class="eye">
                            <ion-icon name="eye" size="small"></ion-icon>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {{!-- <a href="./">
                        </a> --}}
                        Sign Up
                    </button>
                </form>

                <div class="mt-3 signIn">
                    You had account?
                    <span>
                        <a href="signIn">
                            Sign In
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </section>
</main>