<main>
    <section class="container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">
        <div class="row wrapper">
            <div class="col col-md-6 col-sm-0 col-xs-0 img_signIn">
                <!-- <img class="img_signIn" src="/Front_End/Assets/Image/1.png" alt="Vexere" /> -->
            </div>
            <div
                class="col col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center align-items-center p-3 form_wrapper">
                <a href="./" class="name">Vexere</a>

                <form class="form_signIn d-flex flex-column justify-content-center">

                    <div class="form-group">
                        <span class="icon_input">
                            <ion-icon name="mail"></ion-icon>
                        </span>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Email Address">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small> -->
                    </div>

                    <div class="form-group">
                        <span class="icon_input">
                            <ion-icon name="lock-closed"></ion-icon>
                        </span>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                        <span class="eye">
                            <ion-icon name="eye" size="small"></ion-icon>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <a href="./">
                            Sign In
                        </a>
                    </button>
                </form>

                <div class="mt-3 signUp">
                    Don't have an account!
                    <span>
                        <a href="signUp">
                            Sign Up
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </section>
</main>